.lesson-tile {
  padding: 2rem;

  color: var(--font-clr-dark);
  font-weight: 600;
  background-color: #f0f0f0;

  border-radius: 0.5rem;

  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: #dddddd;

    transition: 0.2s ease-in;
  }
}
