.lesson-footer {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 7rem;
  margin-top: 3rem;

  box-shadow: 0px 0px 21px 5px #0000001a;

  .lesson-footer__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40rem;

    .buttons-wrapper__btn {
      width: 10rem;
      height: fit-content;
    }

    .buttons-wrapper__btn--right {
      margin-left: auto;
    }
  }
}
