.note {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;

  max-width: 40rem;

  .note__title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--font-clr-dark);
  }

  .note__content {
    font-size: 1.25rem;
    color: var(--font-clr-normal);
  }
}

.code {
  background-color: #292929;
  color: rgb(212, 206, 206);
  font-style: oblique;
  margin: 1.6rem 0;
  padding: 1.5rem 1.2rem;
}
