.module-header {
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  width: 100%;
  height: 20rem;
  margin-bottom: 4rem;

  background: #306998;

  .module-header__img {
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
    height: 12rem;
    width: 12rem;
  }

  .module-header__text-container {
    display: flex;
    flex-direction: column;

    width: 65rem;
    color: white;

    h1 {
      font-size: 3.5rem;
    }

    p {
      margin-top: 1rem;
    }
  }
}
