.quiz {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;

  width: 40rem;

  .quiz__question {
    margin-bottom: 4rem;

    font-size: 1.3rem;
    color: var(--font-clr-dark);
  }
}
