.section-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5rem;

  background-color: #ffffff;
  color: var(--font-clr-dark);

  border-radius: 0.5rem;
  box-shadow: 0px 0px 21px 5px #0000001a;

  transition: background-color 0.5s ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #e9d77d;

    transition: background-color 0.2s ease;
  }

  .section-tile__title {
    font-size: 1.5rem;
  }
}

.section-tile--opened {
  color: #ffffff;
  background-color: #e9d77d;

  transition: background-color 0.2s ease;
}
