.additional-note {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  padding: 2rem;
  margin-top: 2rem;

  color: var(--font-clr-dark);
  border-radius: 1rem;

  .addtional-note__icon {
    font-size: 2.5rem;
  }
}

.additional-note--warning {
  background-color: var(--warning-clr);

  .addtional-note__icon {
    color: var(--warning-clr-dark);
  }
}

.additional-note--funfact {
  background-color: var(--funfact-clr);

  .addtional-note__icon {
    color: var(--funfact-clr-dark);
  }
}
