.lesson-header {
  position: sticky;

  top: 0;
  width: 100%;
  padding: 2rem;

  margin-bottom: 5rem;

  background-color: #306998;

  .lesson-header__back-btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    width: fit-content;

    color: #ffffff;
    text-decoration: none;

    cursor: pointer;

    &:hover {
      color: #d9d9d9;
    }
  }
}
