:root {
  --font-clr-dark: #484848;
  --font-clr-normal: #5a5a5a;

  --warning-clr-dark: hsl(52, 98.5%, 50%);
  --warning-clr: hsl(52, 98.5%, 83.9%);
  --funfact-clr-dark: hsl(211, 100%, 50%);
  --funfact-clr: hsl(211, 100%, 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
