.answer-tile {
  padding: 1rem 2rem;

  background-color: #ffffff;
  color: var(--font-clr-dark);

  border-radius: 0.3rem;
  box-shadow: 0px 0px 21px 5px #0000001a;

  transition: 0.2s ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 21px 5px #00000028;

    transition: 0.2s ease;
  }
}

.answer-tile--correct {
  background-color: rgb(83, 255, 83);
}

.answer-tile--incorrect {
  background-color: rgb(255, 113, 113);
}
